<div id="<%= dom_id promotioncode %>">
  <p>
    <strong>Name:</strong>
    <%= promotioncode.name %>
  </p>

  <p>
    <strong>Promo code:</strong>
    <%= promotioncode.promo_code %>
  </p>

  <p>
    <strong>Discount percentage:</strong>
    <%= promotioncode.discount_percentage %>
  </p>

</div>
