<h1>Editing promotioncode</h1>

<%= render "form", promotioncode: @promotioncode %>

<br>

<div>
  <%= link_to "Show this promotioncode", @promotioncode %> |
  <%= link_to "Back to promotioncodes", promotioncodes_path %>
</div>
